body{
    font-size: 16pt;
}
/* A canvas's default display mode is inline
inline elements can end up adding whitespace to what is displayed.
*/
#c {
    float: left;
    padding: 5px;
    width: 200px;
    height: 150px;
}

#d{
    padding: 5px;
    width: 800px;
    height: 750px;
}
